<form method="post" action="/signin" class="form">
    <h1 class="title">Signin</h1>

    <label class="label" for="email">Email</label>
    <input class="input" id="email" name="email" type="text" value="test@fake.com" placeholder="Enter your email address" required>

    <label class="label" for="password">Password</label>
    <input class="input" id="email" name="password" type="password" value="mypassword" placeholder="Enter your password" required>

    <button class="btn">Validate</button>

</form>
<hr>
<p>
    No account yet ? <a class="link" href="/signup">Signup now!</a>
</p>