<div class="title-wrapper">
    <div class="line"></div>
    <h1 class="section-title">Create your account</h1>
    <div class="line"></div>
</div>

<form method="post" action="/signup" class="sign-form">

    <div class="form-field">
        <label for="firstName">First name</label>
        <input class="input" id="firstName" name="firstName" type="text" value="Toto" placeholder="Your first name"
            required>
    </div>

    <div class="form-field">
        <label for="lastName">Last name</label>
        <input class="input" id="lastName" name="lastName" type="text" value="Titi" placeholder="Your last name"
            required>
    </div>

    <div class="form-field">
        <label for="email">Email</label>
        <input class="input" id="email" name="email" type="text" value="test@fake.com" placeholder="Your email address"
            required>
    </div>

    <div class="form-field">
        <label for="password">Password</label>
        <input class="input" id="password" name="password" type="password" value="mypassword" required>
    </div>

    <button class="btn">Validate</button>
    <hr>
    <a class="sign-form-link" href="/signin">Already have an account ?</a>
</form>