<form method="post" action="/signup" class="form">
    <h1 class="title">Create your account</h1>

    <label for="firstName">First name</label>
    <input class="input" id="firstName" name="firstName" type="text" value="Toto" placeholder="Your first name" required>

    <label for="lastName">Last name</label>
    <input class="input" id="lastName" name="lastName" type="text" value="Titi" placeholder="Your last name" required>

    <label for="email">Email</label>
    <input class="input" id="email" name="email" type="text" value="test@fake.com" placeholder="Your email address" required>

    <label for="password">Password</label>
    <input class="input" id="password" name="password" type="password" value="mypassword" required>

    <button class="btn">Validate</button>
    <hr>
    <a class="link" href="/signin">Already have an account ?</a>
</form>