<div class="title-wrapper">
    <div class="line"></div>
    <h1 class="section-title">New Shops</h1>
    <div class="line"></div>
</div>
<div class="newshops">
    {{#each newShops}}
    {{> shop_caroussel}}
    {{/each}}
</div>