<div class="title-wrapper">
  <div class="line"></div>
  <h1 class="section-title">Manage my products</h1>
  <div class="line"></div>
</div>

<div class="wrapper-flex-col">
  <a href="/shops/{{@root.currentUser.shop}}/add-product" class="btn-shop-add-product">Add a new product</a>
</div>
<table>
  <thead>
    <tr>
      <th>Product Image</th>
      <th>Product Name</th>
      <th>Product Description</th>
      <th>Product Price</th>
      <th>Product Genre</th>
      <th>Product Category</th>
      <th>Product Sizes</th>
      <th>Product Views</th>
      <th>Product Sells</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    {{#each this}}
    <tr>
      {{> products_dashboard_row this}}
    </tr>
    {{/each}}
    {{#unless this}}
    <tr>
      <td colspan="11">Your shop does not have any product yet</td>
    </tr>
    {{/unless}}
  </tbody>
</table>