<div class="big-container">
    <header class="header">
        <nav class="nav-wrapper nav-categories">
            <div class="nav-category">
                <a href="/products/women" class="flexed-item">
                    <h2>Women</h2>
                </a>
            </div>
            <div class="nav-category">
                <a href="/products/men" class="flexed-item">
                    <h2>Men</h2>
                </a>
            </div>
            <div class="nav-category">
                <a href="/shops" class="flexed-item">
                    <h2>Shops</h2>
                </a>
            </div>
        </nav>
    </header>
</div>