<div class="big-container" id="products-nav">

    <nav id="categories-nav">
        <div class="dropdown">
            <p class="btn-nav">Women</p>
            <div class="dropdown-content">
                {{#each @root.tagsList}}
                {{#if (includes this.genre "women")}}
                <a href="/products/women/{{this._id}}" class="categories">{{this.name}}</a>
                {{/if}}
                {{/each}}
            </div>
        </div>
        <div class="dropdown">
            <p class="btn-nav">Men</p>
            <div class="dropdown-content">
                {{#each @root.tagsList}}
                {{#if (includes this.genre "men")}}
                <a href="/products/men/{{this._id}}" class="categories">{{this.name}}</a>
                {{/if}}
                {{/each}}
            </div>
        </div>
        <div>
            <span class="btn-nav" id="shop-btn">
                <a href="/shops">Shops</a>
            </span>
        </div>
    </nav>

</div>