<div class="product-mini">
    <div class="product-img-mini" style="background: url({{this.image}}) center / contain no-repeat"></div>
    <div class="product-info-wrapper">
        <p class="product-name">{{this.name}}</p>
        <p class="product-price">{{this.price}}€</p>
        <a href="/products/detailed/{{this._id}}" class="product-link">See product</a>
    </div>
</div>