<div class="shop-mini">
    <div class="shop-img-container-big" style="background: url({{image}}) center / contain no-repeat">
    </div>
    <div class="shop-info-wrapper">
        <p class="shop-name">{{this.name}}</p>
        <p class="shop-description">{{this.description}}</p>
        <a href="/shops/{{this._id}}" class="shop-link">See this shop</a>
    </div>
</div>