<header class="header">
    <div id="shop-header">
        <a href="/" id="shop-logo">
            <img src="/images/shop_logo.png" alt="Shop logo" id="shop-logo">
        </a>

        <nav id="shop-nav">

            <a href="/user/cart">
                <i class="fas fa-shopping-cart shop-nav-item shop-cart-icon"></i>
            </a>
            {{#unless @root.isLoggedIn}}
            <a href="/signin" id="nav_login" class="shop-nav-item">
                <span class="shop-nav-item btn-sign">Sign in</span>
            </a>
            <a href="/signup" id="nav_login" class="shop-nav-item">
                <span class="shop-nav-item btn-sign">Sign up</span>
            </a>
            {{/unless}}
            {{#if @root.isLoggedIn}}
            {{#if @root.currentUser.shop}}
            <a href="/shops/{{@root.currentUser.shop}}/shop-dashboard">
                <span class="shop-nav-item btn-shop">My shop</span>
            </a>
            <a href="/user/accountinformation">
                <span class="shop-nav-item btn-shop">My account</span>
            </a>
            {{/if}}
            {{#unless @root.currentUser.shop}}
            <a href="/shops/create">
                <span class="shop-nav-item btn-shop">Create my shop</span>
            </a>
            {{/unless}}
            <a href="/logout" id="nav_logout">
                <span class="shop-nav-item btn-sign">Sign out</span>
            </a>
            {{/if}}
        </nav>
    </div>
    {{> products_nav}}
</header>