<div class="big-container">
    <header class="header">
        <nav class="nav-wrapper flexed-item">
            <div class="nav-link-wrapper flexed-item">
                <div class="nav-logo">
                    <a href="/" class="flexed-item">
                        <span class="logo-item circle"></span>
                        <h2 class="logo-item">Logo here</h2>
                    </a>
                </div>
            </div>
            <div class ="search-bar">
            {{> searchBar}}
            </div>
      
            <div class="flexed-item nav-end">
                {{#unless @root.isLoggedIn}}
                <a href="#" id="nav_login" class="button-ternary flexed-item nav-end-item">
                    <span class="btn-text">Sign in</span>
                </a>
                <a href="#" id="nav_login" class="button-ternary flexed-item nav-end-item">
                    <span class="btn-text">Sign up</span>
                </a>
                {{/unless}}
                {{#if @root.isLoggedIn}}
                <a href="/shops/{{@root.currentUser.shop}}/shop-dashboard" class="button-ternary flexed-item nav-end-item">
                    <span class="btn-text">My shop</span>
                </a>
                <a href="#" id="nav_logout" class="button-ternary flexed-item nav-end-item">
                    <span class="btn-text">Log out</span>
                </a>
                {{/if}}
                <a href = "/user/cart">
                <i class="fas fa-shopping-cart shop-cart-icon nav-end-item"></i>
                </a>
            </div>
        </nav>
    {{> products_nav this}}
    </header>
</div>