<div class="title-wrapper">
    <div class="line"></div>
    <h1 class="section-title">Top Shops</h1>
    <div class="line"></div>
</div>
<div class="topshops">
{{#each topShops}}
{{> shop_caroussel}}
{{/each}}
</div>