<section id="concept">
    <h2 id="concept-title">Primrose concept</h2>
    <div id="concept-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quis ad vero impedit, itaque provident
            dolores. Sunt non magnam nobis!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, eaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, eaque.</p>
    </div>

</section>
<div class="caroussel">
    {{> top_shops}}
</div>
<div class="caroussel">
    {{> new_shops}}
</div>