<section id="concept">
    <h2 id="concept-title">Manifesto</h2>
    <p>At Primrose we value fashion designers. The tiny ones, the unconventional ones, the excentric ones, the
        professional ones and the amateurs.</p>
    <p> Our mission is to spread their love and creativity to all of you, treasure seekers, looking for that outfit in your wardrobe that makes you feel unique and that you'll most probably be the only one to own in the city.
    </p> 
    <p>
How do we do that? Well if your a fashion designer here you can easily create your shop and add your products.
If you are a buyer, just wander around and discover the gems that make up Primrose.
    </p>
        <p>
Love    </p>

    <div id="concept-content">
    </div>

</section>
<div class="caroussel">
    {{> top_shops}}
</div>
<div class="caroussel">
    {{> new_shops}}
</div>