<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body>
    {{> shop_nav}}
    <main id="content-main">
      {{> flashMessage}}
      {{{body}}}
    </main>
    
  </body>
</html>
