<div class="title-wrapper">
    <div class="line"></div>
    <h1 class="section-title">My account</h1>
    <div class="line"></div>
</div>

<p class="account-info">First Name: {{user.firstName}}</p>
<p class="account-info">Last Name: {{user.lastName}}</p>
<p class="account-info">Email: {{user.email}}</p>

<div class="title-wrapper">
    <div class="line"></div>
    <h2 class="section-title">Favorite products</h2>
    <div class="line"></div>
</div>

<div class="topshops">
    {{#each this.favoriteProducts}}
    {{> product_mini }}
    {{/each}}
</div>

<div class="title-wrapper">
    <div class="line"></div>
    <h2 class="section-title">Favorite shops</h2>
    <div class="line"></div>
</div>

<div class="topshops">
    {{#each this.favoriteShops}}
    {{> shop_mini }}
    {{/each}}
</div>