@import url('https://fonts.googleapis.com/css?family=Faster+One|Oswald:300,400,500,700|Source+Sans+Pro:300,400,600,700&display=swap');

* {
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
}

h2,
h3,
h4 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.big-container {
  display: flex;
  width: 100%;
}

.container {
  width: 90%;
}

.flexed-item {
  display: flex;
}

.hidden {
  visibility:hidden;
}

.no-opacity {
  opacity: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

#content-main {
  margin: 20px 10px;
  overflow: hidden;
  position: relative;
}

.img-mini {
  width: 200px;
}

.title-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.section-title {
  color: var(--color-coral);
  margin: 0 5px;
}

.line {
  width: 25%;
  height: 1px;
  background-color: var(--color-yellow);
}