input:focus {
  outline: none;
}

.input {
  padding: 0.7rem;
  border: none;
  border: 1px solid black;
  border-radius: 0.2rem;
  font-size: 0.9rem;
}

/*----select option----*/
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* remove default arrow */
  background-image: url("../medias/img/arrow_down.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 21px) calc(1em + 2px),
    calc(100% - 16px) calc(1em + 2px), 100% 0;
  background-size: 9px 9px, 9px 9px, 2.5em 2.5em;
  border-radius: 0.2rem;
  border: 1px solid rgb(235, 235, 235);
  /* add custom arrow */
}

select:focus {
  outline: none;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgb(151, 151, 151);
  font-size: 0.9rem;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: rgb(151, 151, 151);
  font-size: 0.9rem;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: rgb(151, 151, 151);
  font-size: 0.9rem;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: rgb(151, 151, 151);
  font-size: 0.9rem;
}

.sign-form {
  background-color: var(--color-morningBlue);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 30%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.form-field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.sign-form label {
  font-weight: bold;
}

.sign-form button {
  border: none;
  background-color: var(--color-yellow);
  border-radius: 5px;
  padding: 3px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-morningBlue);
  margin-bottom: 10px;
}

.sign-form-link {
  font-size: 0.8rem;
}

.sign-form-link:hover {
  background-color: var(--color-coral);
}