.header {
  width: 100%;
  border-bottom: 1px solid rgb(212, 212, 212);
  /* position: fixed; */
}

#shop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#shop-logo {
  width: 200px;
}

#search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#shop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-nav-item {
  margin: 0 10px;
}

.btn-sign {
  font-style: italic;
  color: var(--color-morningBlue);
}

.btn-shop {
  background-color: var(--color-morningBlue);
  color: whitesmoke;
  border-radius: 5px;
  padding: 5px;
  /* border: 3px solid var(--color-morningBlue); */
  transition: all 0.2s ease-in;
}

.btn-shop:hover {
  /* border-color: var(--color-yellow); */
  font-weight: bolder;
}

.shop-cart-icon {
  font-size: 1.2rem;
  color: var(--color-yellow);
  transition: all 0.2s ease-in;
}

.shop-cart-icon:hover {
  transform: scale(1.5, 1.5);
}

#products-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-linen);
  padding: 10px;
}

#search-container{
  display: flex;
  margin: 5px 0;
}

#search-logo {
  margin-right: 5px;
  color: var(--color-morningBlue);
}

#search-input{
  border: none;
}

#categories-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  margin: 5px;
}

.btn-nav{
  background-color: var(--color-coral);
  color: whitesmoke;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 1.2rem;
  padding: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--color-babyPink);
  min-width: 400px;
  /* z-index: 1; */
  color: whitesmoke;
  font-weight: bold;
  padding: 5px;
  border: 2px solid var(--color-coral);
}

.dropdown:hover .dropdown-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.categories{
  justify-self: center;
  text-align: center;
  align-self: center;
}

#shop-btn:hover{
  color: var(--color-yellow);
  transition: all 0.2s ease-in;
}