.home-container {
  height: calc(100vh - (84px));
  overflow: hidden;
  background: black;
  width: 100%;
  background-image: url("/medias/img/home-img-2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.topshops , .newshops {
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
  align-items:center;
  padding: 5px;
  margin: 30px;
  height:200px;

}

.shop-info-header {
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
  align-items:center;
}

.shop-name {
font-size:30px;
font-weight:400;
}

.shop-description {
  font-size:15px;
  font-weight:100;
}

.shop-image{
  height:150px;
  width:300px;
}

.shop-button {
  border:1px solid black;
  background-color:black;
  border-radius:2px;
  color:white;
  font-weight:200;
  padding:5px;
}

