#concept {
  background-color: var(--color-yellow);
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 75%;
  border-radius: 15px;
  color: whitesmoke;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

#concept-content {
  width: 80%;
}

#concept-content p{
  text-align: justify;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 10px;
}

.caroussel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.topshops , .newshops {
  display:flex;
  flex-flow: wrap;
  flex-direction:row;
  justify-content: space-evenly;
  align-items:center;
  padding: 5px;
  margin: 0 0 10px 0;
}

.shop-info-mini {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  margin: 5px 10px;
}

.shop-img-container{
  width: 100%;
  height: 100%;
}

.slider{
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #84a59d8c;
  position: relative;
  top: -200%;
  transition: all 0.4s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shop-info-mini:hover .slider{
  top: -100% !important;
}

.btn-shop-details {
  font-size: 0.8rem;
}

.btn-shop-details:hover {
  color: var(--color-coral);
}

.shop-name-mini{
  border-top: 1px solid var(--color-yellow);
  border-bottom: 1px solid var(--color-yellow);
  background-color: var(--color-morningBlue);
  font-weight: bolder;
  font-size: 1.2rem;
  margin-bottom: 5px;
  font-style: italic;
}