.detailled-content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailled-img{
  width: 300px;
  margin-right: 15px;
}

.detailled-info-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 200px;
}

.flexed-item > * {
  margin: 0 10px 0 0;
}

.btn-add-cart{
  padding: 5px;
  border-radius: 5px;
  background-color: var(--color-yellow);
  border: none;
}

.like-btn{
  color: var(--color-coral);
}

.detailled-shop-link {
  padding: 2px;
  background-color: var(--color-babyPink);
  border-radius: 5px;
}

.detailled-shop-link:hover {
  color: var(--color-morningBlue);
}

.detailled-info-shop-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 200px;
}