.products-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.product-mini {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product-img-mini {
  width: 200px;
  height: 200px;
}

.product-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-linen);
  width: 100%;
  border-radius: 10px;
}

.product-name {
  font-size: 1.5rem;
  color: var(--color-morningBlue);
  border-top: 1px solid var(--color-yellow);
  border-bottom: 1px solid var(--color-yellow);
  font-weight: bold;
  margin-bottom: 5px;
  font-style: italic;
}

.product-price {
  margin-bottom: 5px;
}

.product-link:hover {
    color: var(--color-morningBlue);
}