.shops-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.shop-mini {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.shop-img-container-big {
  width: 300px;
  height: 300px;
}

.shop-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-linen);
  width: 100%;
  border-radius: 10px;
}

.shop-name {
  font-size: 1.5rem;
  color: var(--color-morningBlue);
  border-top: 1px solid var(--color-yellow);
  border-bottom: 1px solid var(--color-yellow);
  font-weight: bold;
  margin-bottom: 5px;
  font-style: italic;
}

.shop-description {
  margin-bottom: 5px;
}

.shop-link:hover {
    color: var(--color-morningBlue);
}