<div class="title-wrapper">
    <div class="line"></div>
    <h1 class="section-title">Add a new product</h1>
    <div class="line"></div>
</div>

<div class="form-wrapper">
    <form action="/shops/{{currentUser.shop}}/add-product" method="post" class="add-product-form item-form"
        enctype="multipart/form-data">
        <div class="form-item-wrapper flexed-item">
            <label for="product-name" class="label">Product name</label>
            <input id="product-name" name="name" type="text" class="input-text input" placeholder="ex: Nice dress"
                required>
        </div>

        <div class="form-item-wrapper flexed-item">
            <label for="product-desc" class="label">Product description</label>
            <input id="product-desc" name="description" type="text" class="input-text input" placeholder="ex: Swag"
                required>
        </div>

        <div class="form-item-wrapper flexed-item">
            <label for="product-price" class="label">Product price</label>
            <input id="product-price" name="price" type="number" class="input-text input" required>
        </div>

        <div class="form-item-wrapper flexed-item">
            <label for="product-genre" class="label">Product genre</label>
            <select id="product-genre" name="genre" class="select" required>
                <option value="-1" disabled selected>Choose a category</option>
                <option value="men">Men</option>
                <option value="women">Woman</option>
            </select>
        </div>


        <table>
            <thead>
                <th>Size</th>
                <th>XXS</th>
                <th>XS</th>
                <th>S</th>
                <th>M</th>
                <th>L</th>
                <th>XL</th>
                <th>XXL</th>
            </thead>
            <tbody>
                <tr>
                    <td>Quantity</td>
                    <td><input name="qtyXXS" type="number" class="input-text input" value="0"></td>
                    <td><input name="qtyXS" type="number" class="input-text input" value="0"></td>
                    <td><input name="qtyS" type="number" class="input-text input" value="0"></td>
                    <td><input name="qtyM" type="number" class="input-text input" value="0"></td>
                    <td><input name="qtyL" type="number" class="input-text input" value="0"></td>
                    <td><input name="qtyXL" type="number" class="input-text input" value="0"></td>
                    <td><input name="qtyXXL" type="number" class="input-text input" value="0"></td>
                </tr>
            </tbody>
        </table>



        <div class="form-item-wrapper flexed-item">
            <label for="product-category" class="label">Product category</label>
            <select id="product-category" name="category" class="select" required>
                <option value="-1" disabled selected>Choose a category</option>
                {{#each categories}}
                <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>



        <div class="form-item-wrapper flexed-item">
            <label for="product-img" class="label"><i class="fas fa-file-upload fa-2x logo-upload"></i> Upload product image </i></label>
            <input id="product-img" name="image" type="file" class="hidden">
        </div>

        <button class="button">Add product</button>
    </form>

</div>