<form action="/shops/update" method="post" class="add-product-form" enctype="multipart/form-data">
    <h3 class="form-title">Update your shop</h3>
    <div class="form-item-wrapper flexed-item">
        <label for="shop-name" class="label">Shop name</label>
        <input id="shop-name" name="name" type="text" class="input-text input" placeholder="Your shop name"
            value="{{name}}" required>
    </div>

    <div class="form-item-wrapper flexed-item">
        <label for="shop-desc" class="label">Shop description</label>
        <input id="shop-desc" name="description" type="text" class="input-text input" placeholder="Your shop description"
            value="{{description}}" required>
    </div>

    <div class="form-item-wrapper flexed-item">
        <label for="shop-img" class="label">Shop image</label>
        <input id="shop-img" name="image" type="file" class="input">
    </div>

    <button class="button">Validate</button>
</form>